<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body>
<div>
    <div>
        <img src="https://neostudy.neoflex.ru/pluginfile.php/1/core_admin/logocompact/300x300/1692706424/logo_full.png"
             alt="" width="150" height="72">
        <h2>Credit terms</h2>
        <p>Some text or die.</p>
    </div>
    <div>
        <h4>Client:</h4>
        <div>
            <div>
                <p>Firstname</p>
            </div>
            <div>
                <p>Lastname</p>
            </div>
            <div>
                <p>Middlename</p>
            </div>
        </div>
        <div>
            <div>
                <p>Roma</p>
            </div>
            <div>
                <p th:text="${lastname}"></p>
            </div>
            <div>
                <p>Gusevich</p>
            </div>
        </div>
        <div>
            <div>
                <p>Firstname</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>