name: Conveyor CI with Maven

on:
  push:
    branches: [ "feature/devops/ci_cd_settings" ]
    paths:
      - 'conveyor/**'
  pull_request:
    branches: [ "feature/devops/ci_cd_settings" ]
    paths:
      - 'conveyor/**'

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Java 17 setup
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

#      - name: Verify and analyze
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#        run: mvn -B verify -pl conveyor -am org.sonarsource.scanner.maven:sonar-maven-plugin:sonar `\
#          -Dsonar.projectKey=romanOlontsev_credit-conveyor

      - name: Build with Maven
        run: mvn package -pl conveyor -am

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push the Conveyor docker image
        run: |
          docker build -t ghcr.io/romanolontsev/credit-conveyor/conveyor:latest conveyor/.
          docker push ghcr.io/romanolontsev/credit-conveyor/conveyor:latest

  codecov:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true
          verbose: true


